@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

.markdown-body {
  color: #1a202c;
}

.markdown-body pre {
  background-color: #f7fafc;
  padding: 1rem;
  border-radius: 0.25rem;
}

.markdown-body code {
  background-color: #e2e8f0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
